#maps{
  position: absolute;
  width: 100vw;
  margin: 0;
  top: 0;
  left: 0;
  border: 0;
  height: 85vh;
}

.user{
  width: 14px;
  height: 14px;
  border: 5px solid #088;
  border-radius: 50%;
  background-color: cyan;
  opacity: 0.5;
}
.loading{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
#gasHeader{
  width: auto;
}
.open{
  color: green;
}
.closed{
  color: red;
}
.gasText{
  color: black;
  border: 5px;
  border-width: thick;
  border-color: white;
}
.gasType{
  position: fixed;
  left: 33%;
  top: 90%;
  pointer-events: all;
}
#markerimg{
  pointer-events: none;
  border-radius: 15%;
  background-color: inherit;
  width: inherit;
  height: inherit;
  opacity: 1;
}
.marker {
  text-align: bottom center;
  color: white;
  width: 45px;
  height: 30px;
  border: 5px solid #088;
  border-radius: 50%;
  background-color: transparent;
  opacity: 1;
}
.branda{
  opacity: 0.5;
}
.upperprice{
  font-size: 12px;
}
.rmarker{
  border-radius: 15%;
  background-color: #eb6363;
  border: 5px solid #eb6363;
}
.gmarker{
  border-radius: 15%;
  background-color: #50d13d;
  border: 5px solid #50d13d;
}
.omarker{
  border-radius: 15%;
  background-color: #eb9a2a;
  border: 5px solid #eb9a2a;
}

.footer{
  pointer-events: none;
  height: 15%;
  width: 100%;
  left: 0;
  position: fixed;
  top: 85%;
  background-color: #ffffff;
}
.posInput{
  position: absolute;
  top: 3vh;
  width: 80vw;
  height: 5vh;
  left: 10vw;
  border-radius: 25px;
  border: none;
  pointer-events: all;
  font-size: 200%;
  padding-left: 4%;
  padding-right: 4%;
}
.posInputBtn{
  position: fixed;
  top: 3vh;
  width: 10vw;
  height: 5.25vh;
  right: 1.9vw;
  background-color: #4287f5;

  color: white;
  border-radius: 25px;
  border: none;
  pointer-events: all;
  font-size: 200%;
  text-align: center center;
}
a{
  font-family: arial;
  font-weight: bold;
  position: relative;
}
.dhbwlogo{
  position: fixed;
  top: inherit;
  float: right;
  height: inherit;
  width: auto;
  right: 0;
}
#closeBtn{
  float: right;
  margin-top: 0;
}
#list{
  position: fixed;
  top: 91%;
}
#info{
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  margin-left: 43%;
  width: 33%;
  height: auto;
  bottom: 0;
}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
}
#popUp{
  width: 40%;
  height: 40%;
  position: absolute;
  margin-left: 30%;
  pointer-events: none;
  margin-top: 15%;
  background-color: #ffffff;
  border: 0;
  opacity: 0;
}
.text{
  pointer-events: none;
  position: fixed;
  top: inherit;
  float: left;
  height: inherit;
  width: auto;
  left: 0;
  bottom: 0;
}
.posInput:focus{
  outline: none;
}
.posInputBtn:focus{
  outline: none;
}
h1{
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  top: -5%;
  bottom: 0;
  left: 15%;
}

h2{
  font-family: sans-serif;
  top: -20%;
  left: 15%;
  position: relative;
}

/*mobile*/
@media only screen and (max-width: 768px){
  .gasType{
    float: right;
    left: auto;
    right: 0;
  }
  .dhbwlogo{
    top: 5px;
    right: 5px;
    opacity: 1;
  }
  h1{
    opacity: 0;
  }
  h2{
    opacity: 0;
  }
  #info{
    left: 0;
    float: left;
    margin: auto;
    margin-left: 0;

  }
  #gasHeader{
    opacity: 1;
  }
}
